@model List<Category>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>Список категорий</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create category</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>DisplayOrder</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.OrderDisplay</td>
                    <td>
                        <a asp-controller="Category" 
                            asp-action="Edit" 
                            asp-route-id="@item.Id" 
                            class="btn btn-primary">Update</a>
                        <a asp-controller="Category"
                           asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
